# Telegram Configuration
TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_PHONE=your_phone_number
TELEGRAM_SESSION=

# MySQL Database
MYSQL_HOST=localhost
MYSQL_USER=USER
MYSQL_PASSWORD=PASSWORD
MYSQL_DATABASE=DB_NAME

# Default Photo Profile
PP=PP.png

# Watermark
WM=WM.png
